<div class="article">
    <div class="row">
        <div class="col text-center">
            <h3 class="border-bottom pb-3">{{article.title}}</h3>
            <br>
            <h5>{{body}}</h5>
        </div>
    </div>
</div>
<div class="comments">
    <div class="row mb-5">
        <div class="col">
            <form action="/comment/{{article._id}}" method="POST">
                <h5 class="text-center">
                    Comment on this article
                </h5>
                <div class="row">
                    <div class="col-6 text-center">
                        <i class="text-center">Your Name:</i>
                            <br>
                        <input type="text" placeholder="Name" name="name" >
                    </div>
                    <div class="col-6 text-center">
                        <i class="text-center">Comment:</i>
                            <br>
                        <input type="text" placeholder="Comment" name="comment">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <br>
                        <center>
                            <input class="mb-5" type="submit" value="Submit">
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="text-center border-bottom pb-3"> Comments: </h5>
            {{#if article.comment}}
            {{#each article.comment}}
            <div class="content text-center">
                <div class="row border-bottom">
                    <div class="col mt-3">
                        <h5 class="text-center">User:</h5>
                        <p>{{name}}</p>
                    </div>
                    <div class="col mt-3">
                        <h5 class="text-center">What they had to say:</h5>
                        <p>{{body}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p>No comments yet.</p>
            {{/if}}
        </div>
    </div>
</div>